@using DT.STS.IdentityServer.Mvc.Extensions
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/Scripts/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/Scripts/jqwidgets/styles/jqx.light.css" type="text/css" />
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">@L(IdentityServerResourceNames.ListOfUser)</h3>
                <div class="box-tools pull-right">
                </div>
                <div class="mailbox-controls">
                    <div class="btn-group">
                        <!-- Check all button -->
                        <a href="@Url.ActionWithHost("DataExport", "ExportAllAirTicketToExcel")" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i> @Ls(DTWebConsts.LocalizationSourceName, DTWebResourceNames.ExportToExcel)</a>
                        <button type="button"
                                id="btnSyncFromAd"
                                class="btn btn-success btn-sm">
                            <i class="fa fa-refresh"></i>
                            @L(IdentityServerResourceNames.SyncFromAd)
                        </button>
                        <button type="button"
                                id="btnSyncImageFromCloud"
                                class="btn btn-success btn-sm">
                            <i class="fa fa-refresh"></i>
                            @L(IdentityServerResourceNames.SyncImageFromCloud)
                        </button>
                        <a href="@Url.Action("Create")" class="btn btn-success btn-sm">
                            <i class="fa fa-plus" aria-hidden="true"></i> @Ls(DTWebConsts.LocalizationSourceName, DTWebResourceNames.AddNew)
                        </a>

                    </div>
                    <div class="box-tools pull-right">
                        <input id="txtSearch"
                               class="form-control"
                               placeholder="@Ls(DTWebConsts.LocalizationSourceName, DTWebResourceNames.Search)" />
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id='jqxWidget'>
                        <div id="grdUser"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        const hostUrl = '@Url.GetHost()';
    </script>
    <!--Auto numeric-->
    <script src="~/Scripts/autoNumeric-1.9.41.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxtextarea.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="/Scripts/jqwidgets/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets/localization.js"></script>
    <script type="text/javascript" src="~/Scripts/demos.js"></script>
    <script type="text/javascript">
        Globalize.cultureSelector = '@CurrentLanguage.Name';
    </script>
    <script>
        const updateUserUrl = `${hostUrl}/administration/users/update`;
        const userNameText = '@L(IdentityServerResourceNames.UserName)';
        const departmentNameText = '@L(IdentityServerResourceNames.DepartmentName)';
        const lastNameText = '@L(IdentityServerResourceNames.LastName)';
        const firstNameText = '@L(IdentityServerResourceNames.FirstName)';
        const managerNameText = '@L(IdentityServerResourceNames.ManagerName)';
        const jpegPhotoText = '@L(IdentityServerResourceNames.JpegPhoto)';
        const syncUsersFromAdSuccessedText = '@IdentityServerResourceNames.SyncUsersFromAdSuccessed';
    </script>
    <script>
        const txtSearch = $('#txtSearch');
        const grdUser = $("#grdUser");
        txtSearch.on("keyup", function (e) {
            const key = event.charCode ? event.charCode : event.keyCode ? event.keyCode : 0;
            if (key === 13) {
                grdUser.jqxGrid('updatebounddata');
                grdUser.jqxGrid('gotopage', 0);
            }
        });

        const imagerenderer = function (row, datafield, value) {
            if (isVariableHaveDefaltVal(value))
                return `<img style="margin-left: 5px;" height="60" width="60" src="@Url.GetHost()/images/no_image_available.jpg" + value + '"/>`;
            // return `<img style="margin-left: 5px;" height="60" width="60" src="data:image/jpg;base64,${value}" + value + '"/>`;
            return `<img style="margin-left: 5px;" height="60" width="60" src="https://outlook.office365.com/owa/service.svc/s/GetPersonaPhoto?email=${value}&UA=0&size=HR64x64&sc=1468233338850"/>`;
        }
        let users = [];

        let source =
        {
            url: '@Url.ActionApiWithHost("users", "searchusersbytokenpaged")',
            datatype: "json",
            id: "id",
            updaterow: function (rowid, rowdata, commit) {
                // synchronize with the server - send update command
                // call commit with parameter true if the synchronization with the server is successful
                // and with parameter false if the synchronization failder.
                commit(true);
            },
            cache: false,
            pagesize: 20,
            pagesizeoptions: ["20", "40", "60"],
            datafields:
                [
                    { name: 'id', type: 'int' },
                    { name: 'userName', type: 'string' },
                    { name: 'firstName', type: 'string' },
                    { name: 'lastName', type: 'string' },
                    { name: 'active' , type: 'string' },
                    { name: 'fullNameUnicode', type: 'string' },
                    { name: 'lastLoginDate', type: 'string' },
                    { name: 'managerName', type: 'string' },
                    { name: 'departmentName', type: 'string' },
                    { name: 'directReports', type: 'string' },
                    { name: 'jpegPhoto', type: 'string' },
                    { name: 'groups', type: 'string'},
                    { name: 'email', type: 'string'}
                ],
            root: 'data',
            beforeprocessing: function (data) { source.totalrecords = data.total; }
        };
        let dataAdapter = new $.jqx.dataAdapter(source,
            {
                beforeSend: function (jqXHR, settings) {
                    settings.url = `${settings.url}&token=${txtSearch.val()}`;
                    jqXHR.setRequestHeader('token', txtSearch.val());
                }
            });

        grdUser.jqxGrid(
            {
                width: '100%',
                height: 600,
                source: dataAdapter,
                pageable: true,
                groupable: true,
                autorowheight: true,
                columnsresize: true,
                altrows: true,
                editable: true,
                pagesizeoptions: ["20", "40", "60"],
                localization: getLocalization('@CurrentLanguage.Name'),
                selectionmode: 'singlerow',
                editmode: 'singlecell',
                showstatusbar: false,
                virtualMode: true,
                renderGridRows: function (obj) {
                    return obj.data;
                },
                columns: [
                    {
                        text: 'STT',
                        sortable: false,
                        filterable: false,
                        editable: false,
                        groupable: false,
                        draggable: false,
                        pinned: true,
                        datafield: '',
                        columntype: 'number',
                        width: 30,
                        cellsrenderer: function (row, column, value) {
                            return "<div style='margin:4px;'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: userNameText,
                        columntype: 'textbox',
                        datafield: 'userName',
                        pinned: true,
                        editable: false,
                        width: 150,
                        cellsrenderer: function (row, column, value, defaultHtml) {
                            var element = $(defaultHtml);
                            element.html(`<a href="${updateUserUrl}?id=${dataAdapter.records[row].id}"> <i class="fa fa-pencil"></i> ${value} </a>`);
                            return element[0].outerHTML;
                        }
                    },
                    {
                        text: departmentNameText,
                        columntype: 'textbox',
                        datafield: 'departmentName',
                        pinned: true,
                        editable: false,
                        width: 150
                    },
                    {
                        text: lastNameText,
                        columntype: 'textbox',
                        datafield: 'lastName',
                        editable: false,
                        width: 150
                    },
                    {
                        text: firstNameText,
                        columntype: 'textbox',
                        datafield: 'firstName',
                        editable: false,
                        width: 150
                    },
                    {
                        text: 'Enable',
                        columntype: 'checkbox',
                        datafield: 'active',
                        editable: false,
                        width: 150
                    },
                    {
                        text: managerNameText,
                        columntype: 'textbox',
                        datafield: 'managerName',
                        editable: false,
                        width: 150
                    },
                    {
                        text: 'Group',
                        columntype: 'textbox',
                        datafield: 'groups',
                        editable: false,
                        width: 150
                    },
                    {
                        text: jpegPhotoText,
                        datafield: 'email',
                        editable: false,
                        width: 150,
                        cellsrenderer: imagerenderer
                    }
                ]
            });

    </script>

    <script>
        let btnSyncFromAd = $('#btnSyncFromAd');
        let btnSyncImageFromCloud = $('#btnSyncImageFromCloud');
        const syncUsersFromAdUrl = '@Url.ActionApiWithHost("users","syncusersfromad")';
        const syncImagesFromCloudUrl = '@Url.ActionApiWithHost("users", "syncimagesfromcloud")';

        btnSyncFromAd.click(function () {
            $.ajax({
                url: syncUsersFromAdUrl,
                type: "POST",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (event, settings, xhr) {
                    xhr.message = {
                        infor: syncUsersFromAdSuccessedText,
                        returnUrl: ''
                    };
                    grdUser.jqxGrid('updatebounddata', 'cells');
                }
            });
        });

        btnSyncImageFromCloud.click(function () {
            $.ajax({
                url: syncImagesFromCloudUrl,
                type: "POST",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (event, settings, xhr) {
                    xhr.message = {
                        infor: syncUsersFromAdSuccessedText,
                        returnUrl: ''
                    };
                    grdUser.jqxGrid('updatebounddata', 'cells');
                }
            });
        });
    </script>
}

