@model DT.STS.IdentityServer.Mvc.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Scripts/admin_lte/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/admin_lte/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/admin_lte/skins/_all-skins.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="login-container">
        @*<img src="@Url.Content("~/Content/Images/Logo.png")" alt="My Company" class="img-responsive logo" />*@
        <div class="login-panel">
            @using (Html.BeginForm("Login", "Account", new { id = Request.QueryString["id"], ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "clearfix", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <h3><i class="fa fa-sign-in" aria-hidden="true"></i>Security Token Service</h3>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Domain, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Domain, Model.AvailableDomains, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Domain, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                    <i id="username-help" class="fa fa-info-circle"></i>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button id="submit-button" type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                </div>
            }
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <!-- Mixins-->
                <!-- Pen Title-->
                <div class="pen-title">
                    <h4>Duy Tan - Security Token Service</h4>
                </div>
                <div class="container">
                    <div class="card"></div>
                    <div class="card">

                        @using (Html.BeginForm("Login", "Account", new { id=Request.QueryString["id"],  ReturnUrl = ViewBag.ReturnUrl },
                            FormMethod.Post, new { @class = "clearfix", role = "form", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 class="title">Đăng nhập</h4>
                            @Html.ValidationSummary(true)
                            <div class="input-container">
                                <input type="text"
                                       id="Username"
                                       name="Username"
                                       required="required" />
                                <label for="Username">Tài khoản</label>
                                <div class="bar"></div>
                            </div>
                            <div class="input-container">
                                <input type="password"
                                       id="Password"
                                       name="Password"
                                       required="required" />
                                <label for="Password">Mật khẩu</label>
                                <div class="bar"></div>
                            </div>
                            <div class="button-container">
                                <button type="submit"><span>Đăng nhập</span></button>
                            </div>
                            <div class="footer"><a href="#">Quyên mật khẩu?</a></div>
                        }
                    </div>
                </div>
                <!-- Duy Tan portal-->
                <a id="portfolio" href="https://duytan.sharepoint.com/sites/Portal" title="Duy Tan Home page!"><i class="fa fa-link"></i></a>
            </div>
        </div>*@
    <script>
        $(function () {
            $("form").data("validator").settings.submitHandler = function (form) {
                $("#submit-button").html("<i class=\"fa fa-spinner fa-pulse\"></i> Đang đăng nhập...").prop('disabled', true);
                form.submit();
            };
        }
    </script>
</body>
</html>

